@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,2&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.frame {
  /* @apply mx-auto px-8 md:px-12 lg:px-16 max-w-7xl; */
  @apply mx-auto px-4 md:px-12 lg:px-24;
}

.cframe {
  @apply mx-auto p-4 md:p-12 lg:py-24;
}

.v_heading {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl tracking-tighter font-medium;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"] {
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}
